@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        stroke-dasharray: 0, 400;
        stroke-dashoffset: 0;
    }

    /* 50% {
        stroke-dasharray: 300, 600;
        stroke-dashoffset: 300px;
    } */

    100% {
        stroke-dasharray: 800, 1;
        stroke-dashoffset:  400;
    }
}

.spin2 {
    transform-origin: center;
    animation: spin2 1.5s ease-in-out infinite,
        spin 2s linear infinite;
    animation-direction: alternate;
}